{
  "root": true,
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "indent": "off",
    "no-shadow": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "__filename", "__dirname"] }],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "error",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-floating-promises": ["error", { "ignoreIIFE": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "js": "never"
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json",
        "alwaysTrueType": true
      }
    }
  }
}
